{erl_opts, [debug_info]}.
{deps, [
    {jsx, "2.8.1"},
    {cowboy, "1.0.4"},
    {amqp_client, "3.6.7-pre.1"},
    {cowboy, {git, "git://github.com/ninenines/cowboy.git", {tag, "1.0.4"}}}]}.
{relx, [
{vm_args, "config/vm.args"},
{sys_config, "config/sys.config"},
{release, {slides, "0.0.1"},
         [slides]},

          {dev_mode, true},
          {include_erts, false},

        {extended_start_script, true}
       ]
}.

{profiles, [
           {prod, [{relx, [{dev_mode, false},
                           {include_erts, true}]}]}
           ]
}.

