{erl_opts, [debug_info]}.
{deps, []}.
{relx, [
{vm_args, "config/vm.args"},
{sys_config, "config/sys.config"},
{release, {search, "0.0.1"},
         [search]},

          {dev_mode, true},
          {include_erts, false},

        {extended_start_script, true}
       ]
}.

{profiles, [
           {prod, [{relx, [{dev_mode, false},
                           {include_erts, true}]}]}
           ]
}.

