global
        log /Users/gabriele/github/Personal/hokuto/haproxy_config/log    local0
 
defaults
        log     global
        mode    http
        option  httplog
        option  dontlognull
        timeout connect 5000
        timeout client  50000
        timeout server  50000

frontend localnodes
    bind *:8088
    mode http
    default_backend nodes

backend nodes
    mode http
    balance roundrobin
    option forwardfor
    server web01 127.0.0.1:8080 check
    server web02 127.0.0.1:8081 check
    server web03 127.0.0.1:8082 check
    server web04 127.0.0.1:8083 check
    server web05 127.0.0.1:8084 check	
