body {
    background-color: #363636;
    color: #FBFF5F;
    height: 100%;
    a {
      color: #FBFF5F;
    }
    
}

h1 {
    text-indent: 10px;
    letter-spacing: 2px;
    line-height: 2;
    font-size: 48px;
    color: #51FF07;


}

h2 {
    text-indent: 10px;
    letter-spacing: 1px;
    line-height: 2;
    font-size: 48px;

}
#container {
    position:relative;
    width:80%;
    height:80%;

    margin: 0 auto;
    border: 1px solid #5E82A2;
}

#container_info {
    position:relative;
    width:80%;
    height:60%;

    margin: 0 auto;
    border: 1px solid #5E82A2;
}



/*<style>
  table {
    border-collapse: collapse;
  }
  th, td {
    border: 1px solid orange;
    padding: 10px;
    text-align: left;
  }
</style>
*/

<style>
  table {
    border-collapse: collapse;
    
  }
  thead {
    color: #51FF07;

  }
  th, td {
    border: 1px solid #5E82A2;
    padding: 10px;
    text-align: left;
    font-size: 18px;
  }
  tr:nth-child(even) {
    background-color: #525252;
  }
  tr:nth-child(odd) {
    background-color: #363636;
  }            
</style>