body {
    background-color: #363636;
    color: #F6FACC;
    height: 100%;
}

h1 {
    text-indent: 50px;
    letter-spacing: 3px;
    line-height: 2.5;
}

h2 {
    text-indent: 10px;
    letter-spacing: 2px;
    line-height: 2.5;
}
#container {
    position:relative;
    width:80%;
    height:60%;

    margin: 0 auto;
    border: 1px solid #5E82A2;
}

#container_info {
    position:relative;
    width:80%;
    height:60%;

    margin: 0 auto;
    border: 1px solid #5E82A2;
}



/*<style>
  table {
    border-collapse: collapse;
  }
  th, td {
    border: 1px solid orange;
    padding: 10px;
    text-align: left;
  }
</style>
*/

<style>
  table {
    border-collapse: collapse;
    
  }
  th, td {
    border: 1px solid orange;
    padding: 10px;
    text-align: left;
    font-size: 17px;
  }
  tr:nth-child(even) {
    background-color: #525252;
  }
  tr:nth-child(odd) {
    background-color: #363636;
  }            
</style>
